// Colors

$clr-primary: #F7931A;
$clr-primary-lt: #FFE9D5;

$clr-secondary: #1A9AF7;
$clr-secondary-lt: #E7F5FF;

$clr-tertiary: #282623;
$clr-tertiary-dk: #201E1C;

$clr-base: #757575;
$clr-base-lt: #BABABA;

$clr-helper: #FAF8F7;

$clr-ntrl-min: #000;
$clr-ntrl-max: #FFF;

// Fonts

$ff-base: 'DM Sans', sans-serif;
$ff-base-alt: 'Inter', sans-serif;
