@use '../utils' as *;

// Basic styles for buttons
button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

// Basic styles for links
a {
  text-decoration: none;
  color: inherit;
}

// Icons styles
.icon {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--down-arrow {
    width: rem(13);
    height: rem(8);
    margin-left: rem(10);
    background-image: url('/assets/icons/down-arrow.svg');
  }
}
